<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored "><%= link_to "add", new_feed_path, class: "material-icons" %></button>
<br>
<br>

<%= search_form_for @q, url: entries_path, method: :get do |f| %>

  # Search if the name field contains...
  <%= f.label :title %>
  <%= f.search_field :title_start %>
  <%= f.submit %>
<% end %>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Url</th>
      <th class="mdl-data-table__cell--non-numeric">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to feed.name, feed_path(feed) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= feed.url %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= feed.description %></td>
        <td><%= link_to 'Show Entries', feed_entries_path(feed), class: "mdl-button mdl-button--raised mdl-button--colored" %></td>

        <td><%= link_to 'Edit', edit_feed_path(feed), class: "mdl-button mdl-button--raised" %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-button--raised"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
