<div class="container">

  <div class="demo-list-action mdl-list">
    <% @entries.each do |entry| %>
      <div class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <% if entry.ogp_image.present? %>
            <%= image_tag entry.ogp_image, style: "max-width: 100px;", class: "material-icons mdl-list__item-avatar"%>
          <% end %>
          <% if entry.content.present? %>
            <span><%= link_to entry.title, feed_entry_path(entry.feed, entry)%> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i></span>
          <% else %>
            <span><%= link_to entry.title, entry.url%> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i></span>
          <% end %>  
        </span>
      </div>
    <% end %>
  </div>

</div>
